body {
    font-family: 'Oswald', sans-serif;
    background: #ECEFF1;
}

a {
    text-decoration: none;
    color: #00796B;
}

a:hover {
    color: #4DB6AC;
}

#content {
    margin-top: 10%;
}

.about {
    color: #424242;
}
