@import "tailwindcss";

@theme {
  /* Colors */
  --color-palette-1-light: #ffffff;
  --color-palette-1-dark: #0d1117;

  --color-palette-2-light: #24292e;
  --color-palette-2-dark: #c9d1d9;

  --color-palette-3-light: #586069;
  --color-palette-3-dark: #8b949e;

  --color-palette-4-light: #f6f8fa;
  --color-palette-4-dark: #161b22;

  --color-palette-5-light: #0366d6;
  --color-palette-5-dark: #58a6ff;

  --color-palette-6-light: #6f42c1;
  --color-palette-6-dark: #bc8cff;

  --color-gradient-from-light: #FCB595;
  --color-gradient-from-dark: #B58366;

  --color-gradient-via-light: #9477F1;
  --color-gradient-via-dark: #6A55A8;

  --color-gradient-to-light: #5BAEEB;
  --color-gradient-to-dark: #3A7AAE;

  /* Fonts */
  --font-monocode: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

/* Utilities */
a:hover svg {
  @apply no-underline;
}
