-
  var links = [
    { title: 'Github', icon: 'github', url: 'https://github.com/r3nya' },
    { title: 'LinkedIn', icon: 'linkedin', url: 'https://www.linkedin.com/in/r3nya' },
    { title: 'Twitter', icon: 'twitter', url: 'https://twitter.com/r3nya' },
    { title: 'Telegram', icon: 'paper-plane', url: 'https://t.me/r3nya' }
  ]

main(class="col-span-1")
  div(class="grid gap-2")
    each link in links
      +link(link.title, link.icon, link.url)
