
.container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: $xs-container;

  & .one-half {
    width: 100%;
  }

  & .one-half:last-child {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: $sm) {
  .container {
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10vh;
    padding: 0 2rem 0 4rem;
    max-width: $sm-container;

    & .one-half {
      width: calc(60% - 2rem);
    }

    & .one-half:last-child {
      width: calc(40% - 2rem);
    }
  }
}

@media only screen and (min-width: $md) {
  .container {
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10vh;

    & .one-half {
      width: calc(60% - 2rem);
    }

    & .one-half:last-child {
      width: calc(40% - 2rem);
    }
  }
}

@media only screen and (min-width: $lg) {
  .container {
    max-width: $lg-container;
  }
}

@media only screen and (min-width: $xlg) {
  .container {
    max-width: $xlg-container;
  }
}
