body {
  background: var(--main-background);
  font-family: "Karla", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
    text-decoration-skip: ink;
    -webkit-text-decoration-skip: ink;
    text-decoration: underline;
  }
}

i {
  width: 1.6rem;
}

main {
  font-size: 1.2rem;

  &:first-child {
    margin-top: 2.67rem;
  }
}

.link {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
