h1 {
  font-size: 2rem;
}

h5 {
  color: var(--palette-h5);
}

@media (--sm-viewport) {
  h1 {
    font-size: 2.4rem;
  }

  h5 {
    font-size: 1.4rem;
  }
}

@media (--md-viewport) {
  h1 {
    font-size: 3rem;
  }

  h5 {
    font-size: 1.6rem;
  }
}

hr {
  border-width: 0;
  border-top: 1px solid var(--palette-hr);
}
