/* palette */
$palette-1: #eceff1;
$palette-2: #222;
$palette-3: #757575;
$palette-4: #e1e1e1;
$palette-5: #00796b;
$palette-6: #4db6ac;

/* colors */
$main-background: $palette-1;
$main-color: $palette-2;
$h5-color: $palette-3;
$hr-color: $palette-4;

/* links block */
$link-color: $palette-5;
$link-hover-color: $palette-6;

/* sizes */
$xs-container: 20em;
$sm-container: 48em;
$lg-container: 64em;
$xlg-container: 84em;

/* breakpoints */
$sm: 48em;
$md: 64em;
$lg: 75em;
$xlg: 160em;
