---
interface Props {
  name: string;
  headline: string;
}

const { name, headline }: Props = Astro.props;
---

<header class="col-span-1 md:col-span-2">
  <h1 class="text-5xl font-bold mb-4 md:text-6xl mt-2">{name}</h1>
  <div
    class="mb-4 h-1 rounded-full bg-gradient-to-r from-gradient-from-light via-gradient-via-light to-gradient-to-light dark:from-gradient-from-dark dark:via-gradient-via-dark dark:to-gradient-to-dark"
  >
  </div>
  <h2
    class="text-2xl font-bold text-palette-3-light md:text-3xl xl:text-4xl dark:text-palette-3-dark"
  >
    {headline}
  </h2>
</header>