@import '../styles/global.css' reference;

.social-links {
  @apply col-span-1 grid gap-2;
}

.social-links__link {
  @apply flex items-center text-2xl font-medium md:text-3xl;
  color: var(--color-accent-light);
}

.social-links__link:hover {
  opacity: 0.8;
}

@media (prefers-color-scheme: dark) {
  .social-links__link {
    color: var(--color-accent-dark);
  }
}

.social-links__title {
  @apply group-hover:underline;
}
