head
  meta(charset='utf-8')
  title Andrey Makarov aka r3nya
  meta(name='description', content='Andrey Makarov\'s homepage')
  meta(name='author', content='Andrew M.')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='theme-color', content='#00796b')
  meta(property='og:title', content='Andrey Makarov\'s homepage')
  meta(property='og:type', content='profile')
  meta(property='profile:first_name', content='Andrey')
  meta(property='profile:last_name', content='Makarov')
  meta(property='profile:username', content='r3nya')
  meta(property='profile:gender', content='male')
  link(href='https://fonts.googleapis.com/css?family=Karla', rel='stylesheet')
  link(href='css/style.css', rel='stylesheet', type='text/css')
