head
  meta(charset='utf-8')
  title Andrey Makarov aka r3nya
  meta(name='description', content='Homepage')
  meta(name='author', content='Andrew M.')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='theme-color', content='#00796b')
  link(href='https://fonts.googleapis.com/css?family=Karla', rel='stylesheet')
  link(href='css/style.css', rel='stylesheet', type='text/css')
