main.one-half
  +link('Github', 'github', 'https://github.com/r3nya')
  +link('LinkedIn', 'linkedin', 'https://www.linkedin.com/in/r3nya')
  +link('Twitter', 'twitter', 'https://twitter.com/r3nya')
  +link('Telegram', 'paper-plane', 'https://t.me/r3nya')
