main.one-half
  +link('Github', 'github', 'https://github.com/r3nya')
  +link('Twitter', 'twitter', 'https://twitter.com/r3nya')
  +link('Instagram', 'instagram', 'http://instagram.com/r3nya')
  +link('Last.fm', 'lastfm', 'http://www.lastfm.ru/user/true_renya')
  +link('Telegram', 'paper-plane', 'https://t.me/r3nya')
