{%
  set site = {
    title: 'Andrey Makarov aka r3nya',
    author: 'Andrew M.',
    description: "Andrey Makarov's homepage",
    themeColor: '#6f42c1',
    yandexVerification: '1ff13f78c7797ab6'
  }
%}

{%
  set profile = {
    name: 'Andrey Makarov',
    title: 'Software Developer 👨‍💻',
    firstName: 'Andrey',
    lastName: 'Makarov',
    username: 'r3nya',
    gender: 'male',
    avatar: 'https://avatars3.githubusercontent.com/u/209313?v=3&s=460'
  }
%}

{%
  set socialLinks = [
    {
      title: 'Github',
      icon: 'github',
      url: 'https://github.com/r3nya'
    },
    {
      title: 'LinkedIn',
      icon: 'linkedin',
      url: 'https://www.linkedin.com/in/r3nya'
    },
    {
      title: 'Telegram',
      icon: 'paper-plane',
      url: 'https://t.me/r3nya'
    },
    {
      title: 'X/Twitter',
      icon: 'twitter',
      url: 'https://x.com/r3nya'
    }
  ]
%}
