{% from "icons.njk" import icon %}
{% from "data.njk" import socialLinks %}

{# Link component macro #}
{% macro socialLink(link) %}
  <a
    href="{{ link.url }}"
    class="flex items-center text-2xl font-medium text-palette-5-light group md:text-3xl dark:text-palette-5-dark hover:text-palette-6-light dark:hover:text-palette-6-dark"
    aria-label="{{ link.title }}"
  >
    {{ icon(link.icon) }}
    <span class="group-hover:underline">{{ link.title }}</span>
  </a>
{% endmacro %}

<section class="col-span-1 grid gap-2">
  {% for link in socialLinks %}
    {{ socialLink(link) }}
  {% endfor %}
</section>
