{% from "data.njk" import profile %}
{% from "components.njk" import gradientBar, heading1, heading2 %}

<header class="col-span-1 md:col-span-2">
  {{ heading1(profile.name) }}
  {{ gradientBar() }}
  {{ heading2(profile.title) }}
</header>
